.vscode
.DS_Store
__pycache__
*.pyc
env
secrets
.idea
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj*
**/renv
.Rprofile
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
