{% set gen_time = timestamp.strftime('%Y%m%d%H%MZ') %}
{% set os_is_type = 'TOS-structured TIS Data Product Type' %}
{% set file_prefix = 'NEON.{}.{}.{}'.format(domain, site, data_product.short_data_product_id) %}
This data package was produced by and downloaded from the National Ecological Observatory Network (NEON). NEON is
funded by the National Science Foundation (Awards 0653461, 0752017, 1029808, 1138160, 1246537, 1638695, 1638696,
1724433) and managed cooperatively by Battelle. These data are provided under the terms of the NEON data policy at
https://www.neonscience.org/data-policy.

DATA PRODUCT INFORMATION
------------------------

ID: {{data_product.data_product_id}}

Name: {{data_product.name}}

Description: {{data_product.description}}

NEON Science Team Supplier: {{data_product.supplier}}

Abstract: {{data_product.abstract}}

Brief Design Description: {{data_product.design_description}}

Brief Study Area Description: {{data_product.study_description}}

{%
    if data_product.sensor
%}
Sensor(s): {{data_product.sensor}}
{%
    endif
%}

Keywords: {{(', ').join(keywords)}}


QUERY INFORMATION
-----------------

{%
    if data_product.supplier != 'AOP'
%}
Date-Time for Data Publication: {{timestamp.strftime('%Y-%m-%d %H:%M')}} (UTC)
Start Date-Time for Queried Data: {{data_start_date.strftime('%Y-%m-%d %H:%M')}} (UTC)
End Date-Time for Queried Data: {{data_end_date.strftime('%Y-%m-%d %H:%M')}} (UTC)
{%
    endif
%}

Site: {{site}}
{%
    if data_product.supplier != 'AOP'
%}
Geographic coordinates (lat/long datum): {{coordinates}}
{%
    endif
%}
Domain: {{domain}}


DATA PACKAGE CONTENTS
---------------------

This folder contains the following documentation files:
- This readme file: {{file_prefix}}.readme.{{gen_time}}.txt
{%
    if data_product.supplier == 'TIS' or data_product.supplier == 'TOS' or data_product.type_name == os_is_type
%}
Term descriptions, data types, and units: {{variables_filename}}
{%
    endif
%}
{%
    if data_product.supplier == 'TOS' or data_product.type_name == os_is_type
%}
Data entry validation and parsing rules: {{file_prefix}}.validation.{{gen_time}}.csv
{%
    endif
%}
{%
    if data_product.supplier != 'AOP'
%}
Machine-readable metadata file describing the data package:
{{file_prefix}}.EML.{{data_start_date.strftime('%Y%m%d')}}-{{data_end_date.strftime('%Y%m%d')}}.{{gen_time}}.xml.
This file uses the Ecological Metadata Language (EML) schema. Learn more about this specification and tools to parse
it at https://www.neonscience.org/about/faq.
{%
    endif
%}
{%
    if data_product.supplier == 'TIS' or data_product.type_name == os_is_type
%}
Sensor position information: {{positions_filename}}
{%
    endif
%}
- Other related documents are available such as engineering specifications, field protocols, and data processing 
documentation. Please visit https://data.neonscience.org/data-products/{{data_product.short_data_product_id}} for more information.


This folder also contains {{data_file_count}} data files:
{%
    for file in data_files
%}
{{file.filename}} {% if file.description %}- {{file.description}}{% endif %}

{%
    endfor
%}

Basic download package definition: {{data_product.basic_description}}

{%
    if data_product.expanded_description
%}
Expanded download package definition: {{data_product.expanded_description}}
{%
    endif
%}


FILE NAMING CONVENTIONS
-----------------------

NEON data files are named using a series of component abbreviations separated by periods. File naming conventions
for NEON data files differ between NEON science teams. A file will have the same name whether it is accessed via
NEON's data portal or API. Please visit https://www.neonscience.org/data-formats-conventions for a full description
of the naming conventions.

ISSUE LOG
----------

This log provides a list of issues identified during data collection or processing, prior to publication
of this data package. For a more recent log, please visit this data product's detail page at
https://data.neonscience.org/data-products/{{data_product.short_data_product_id}}.

{%
    for change_log in change_logs
%}
Issue Date: {{change_log.issue_date}}
Issue: {{change_log.issue}}
{%
        for entry in change_log.dates_locations
%}
    Date Range: {{entry.date_range_start}} to {{entry.date_range_end}}
    Location(s) Affected: {{', '.join(entry.location_affected)}}
{%
        endfor
%}
Resolution Date: {{change_log.resolved_date}}
Resolution: {{change_log.resolution}}
{%
    endfor
%}

ADDITIONAL INFORMATION
----------------------

{%
    if 'fuzzed' in data_product.remarks or 'FUZZED' in data_product.remarks
%}
Protection of species of concern: At most sites, taxonomic IDs of species of concern have been 'fuzzed',
i.e., reported at a higher taxonomic rank than the raw data, to avoid publishing locations of sensitive species. For
a few sites with stricter regulations (e.g., Great Smoky Mountains National Park (GRSM)), records for species of
concern are not published.
{%
    endif
%}

{{data_product.remarks}}

NEON DATA POLICY AND CITATION GUIDELINES
----------------------------------------

A citation statement is available in this data product's detail page at
https://data.neonscience.org/data-products/{{data_product.short_data_product_id}}. Please visit https://www.neonscience.org/data-policy for
more information about NEON's data policy and citation guidelines.

DATA QUALITY AND VERSIONING
---------------------------

NEON data are initially published with a status of Provisional, in which updates to data and/or processing
algorithms will occur on an as-needed basis, and query reproducibility cannot be guaranteed. Once data are published
as part of a Data Release, they are no longer provisional, and are associated with a stable DOI.

To learn more about provisional versus released data, please visit
https://www.neonscience.org/data-revisions-releases.
