name: "Run Flow unit tests"

on:
  # push:
  #   branches:
  #     - master
  #   paths:
  #     - flow/**
  workflow_dispatch: {} # Allows trigger of workflow from web interface

jobs:
  run-unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.1.3

      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            BiocManager
            devtools
            covr
            testthat
          extra-packages: |
              any::xml2
          needs: coverage
          cache: always

      - name: Run Flow unit test coverage using covr package
        shell: Rscript {0}
        run: |
          # Install Eddy4R and Dependencies
          BiocManager::install(version = "3.14")
          BiocManager::install(c("rhdf5", "Rhdf5lib", "rhdf5filters"))
          install.packages(c(
              "https://cran.r-project.org/src/contrib/Archive/DataCombine/DataCombine_0.2.21.tar.gz",
              "https://cran.r-project.org/src/contrib/Archive/ffbase/ffbase_0.13.3.tar.gz"
              ), 
              repos = NULL, 
              type = "source"
          )
          remotes::install_git("https://github.com/NEONScience/eddy4R.git", ref = "ca559f517a601b83d64e8f7e906fb05f30c30d39", subdir = "pack/eddy4R.base")
          remotes::install_git("https://github.com/NEONScience/eddy4R.git", ref = "ca559f517a601b83d64e8f7e906fb05f30c30d39", subdir = "pack/eddy4R.qaqc")

          # Install NEON packages
          devtools::install("./pack/NEONprocIS.base")
          devtools::install("./pack/NEONprocIS.cal")
          devtools::install("./pack/NEONprocIS.pub")
          devtools::install("./pack/NEONprocIS.qaqc")
          devtools::install("./pack/NEONprocIS.stat")
          devtools::install("./pack/NEONprocIS.wq")

          library(NEONprocIS.base)
          library(NEONprocIS.cal)
          library(NEONprocIS.pub)
          library(NEONprocIS.qaqc)
          library(NEONprocIS.stat)
          library(NEONprocIS.wq)
          library(eddy4R.base)
          library(eddy4R.qaqc)
          library(testthat)
          library(covr)
          library(base)
          library(utils)
          library(arrow)
          library(rlang)
          library(stringr)
          library(dplyr)

          # Run Unit Tests
          testthat::test_dir("./flow/tests/testthat")
