name: "Run Flow unit tests"

on:
  push:
    branches:
      - jw-flow-tests
  #   paths:
  #     - flow/**
  workflow_dispatch: {} # Allows trigger of workflow from web interface

jobs:
  run-unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.1.3

      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            arrow@14.0.0
            BiocManager
            bit
            covr
            data.table
            devtools
            dplyr
            fastmatch
            ff
            testthat
          extra-packages: |
              any::xml2
          needs: coverage
          cache: always

      - name: Run Flow unit test coverage using covr package
        shell: Rscript {0}
        env: 
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Install Eddy4R and Dependencies
          install.packages(c(
              "https://cran.r-project.org/src/contrib/Archive/DataCombine/DataCombine_0.2.21.tar.gz",
              "https://cran.r-project.org/src/contrib/Archive/ffbase/ffbase_0.13.3.tar.gz"
              ), 
              repos = NULL, 
              type = "source"
          )
          devtools::install_github(
              repo="NEONScience/eddy4R",
              ref="ca559f517a601b83d64e8f7e906fb05f30c30d39",
              subdir="pack/eddy4R.base",
              dependencies=c(NA, TRUE)[2],
              repos=c(BiocManager::repositories(), "https://cran.rstudio.com/"),
              upgrade="never"
          )
          devtools::install_github(
              repo="NEONScience/eddy4R",
              ref="ca559f517a601b83d64e8f7e906fb05f30c30d39",
              subdir="pack/eddy4R.qaqc",
              dependencies=c(NA, TRUE)[2],
              repos=c(BiocManager::repositories(), "https://cran.rstudio.com/"),
              upgrade="never"
          )

          # Install NEON packages
          devtools::install("./pack/NEONprocIS.base", upgrade="never")
          devtools::install("./pack/NEONprocIS.cal", upgrade="never")
          devtools::install("./pack/NEONprocIS.pub", upgrade="never")
          devtools::install("./pack/NEONprocIS.qaqc", upgrade="never")
          devtools::install("./pack/NEONprocIS.stat", upgrade="never")
          devtools::install("./pack/NEONprocIS.wq", upgrade="never")

          library(NEONprocIS.base)
          library(NEONprocIS.cal)
          library(NEONprocIS.pub)
          library(NEONprocIS.qaqc)
          library(NEONprocIS.stat)
          library(NEONprocIS.wq)
          library(eddy4R.base)
          library(eddy4R.qaqc)
          library(testthat)
          library(covr)
          library(base)
          library(utils)
          library(arrow)
          library(rlang)
          library(stringr)
          library(dplyr)

          # Run Unit Tests
          testthat::test_dir("./flow/tests/testthat")
